BasedOnStyle: Google
IndentWidth: 4
---
Language: Cpp
ColumnLimit: 120
AccessModifierOffset: -4
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true 
AllowShortFunctionsOnASingleLine: Empty
BreakBeforeBraces: Allman
BreakConstructorInitializersBeforeComma: true

...
