[submodule "lib/ESP8266Audio"]
	path = lib/ESP8266Audio
	url = https://github.com/earlephilhower/ESP8266Audio.git
[submodule "lib/M5Core2"]
	path = lib/M5Core2
	url = https://github.com/m5stack/M5Core2.git
